.THIS.container {	
	background-color: #556565;
	width: 100%;
	height: 300px;
	border-radius: 5px;
}

.THIS canvas {
	display: block;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
}

.THIS .chartLabel {
	text-align: center;
	font-family: ProximaNovaSoft-Regular,verdana,sans-serif;
	font-size: 18px;
	width: 280px;
	color: #e5f5f5; 
	margin-left: auto;
	margin-right: auto;
}

.THIS .center {
	margin: 0px auto;
}

.THIS .content {
	max-width: 768px;
	font-size: 12px;
	color: #3c3d3e;
}